.dictionary-app {
  text-align: left;
  max-width: 100%;
  background-color: #f9f7fe;
  display: block;
  margin: 0 auto;
  padding: 180px 200px 150px 280px;
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
}
footer {
  margin-top: 20px;
  font-size: 15px;
  margin-left: 10px;
}
footer a {
  text-decoration: none;
}
@media (max-width: 1000px) {
  .dictionary-app {
    max-width: 900px;
    padding: 20px;
    padding-top: 80px;
  }
  footer {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 5px;
  }
}
