section {
  border: 1px solid whitesmoke;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  max-width: 900px;
  text-align: left;
  margin-top: 10px;
}
h1 {
  font-weight: 600;
  font-size: 33px;
  margin-bottom: 20px;
  line-height: 29px;
  margin-left: 10px;
}
